.select {
    display: flex;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
}

.select:hover {
    cursor: pointer;
    border-color: #2FBE8E !important;
}

.select:focus {
    border-color: #01b075 !important;
}

.select .inp {
    border: none;
    outline: none;
    line-height: 40px;
    width: calc(100% - 72px);
    margin-left: 16px;
    cursor: pointer;
}

.select .X {
    visibility: hidden;
    height: 16px;
    width: 16px;
    margin-top: 12px;
    background: #E9EBEE;
    background-image: url("../../content/icon/clear.png");
    background-size: 16px 16px;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.select .select-arrow {
    width: 40px;
    height: 40px;
    background-image: url("../../content/icon/chevron-down.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    cursor: pointer;
}

.select .select-arrow.rot-180 {
    transform: rotate(180deg);
    transition: transform 1s;
}

.select .select-arrow.rot-0 {
    transform: rotate(0deg);
    transition: transform 1s;
}

.select .select-arrow.down {
    transform: rotate(180deg);
}


/* .select .select-arrow:hover {
    background-color: #e9ebee;
} */

.dropdown {
    box-shadow: 0 0 5px 1px #e5e5e5;
    position: absolute;
    background-color: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    z-index: 2;
    padding: 4px 0;
    height: auto;
    width: 100%;
    display: block;
    /* display: none; */
}

.dropdown .dropdown-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
}

.dropdown .dropdown-item:hover {
    background-color: #E9EBEE;
}

.dropdown-item .dropdown-icon {
    /* height: 100%; */
    width: 36px;
}

.dropdown-item.bg-select .dropdown-icon {
    background-image: url("../../content/icon/check.png");
    background-position: 10px center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.dropdown-item .dropdown-text {
    height: 100%;
    width: calc(100% - 36px);
}